{#-

    SPDX-License-Identifier: MIT
    
    -#}
    
    {% extends "base.html" %}
    {% block extrahead %}

    <!-- meta CSS to import everything -->
    <link rel="stylesheet" href="{{ 'assets/stylesheets/meta.css' | url }}">

    <!-- hypothesis for community annotations -->
    <script src="https://hypothes.is/embed.js" async></script>
    {% endblock %}

    <!-- announcements -->
    {% block announce %}
    <img alt="🚧" class="twemoji" src="https://cdn.jsdelivr.net/gh/jdecked/twemoji@15.0.3/assets/svg/1f6a7.svg" title=":construction:">
    <strong>Wiki under consturction</strong> Please accept our apologies for any broken links while migrating content from
    different repositories. <a href="/migration-progress">Learn more</a>
    {% endblock %}
    {% block container %}
                <div class="md-content" data-md-component="content">
                  <article class="md-content__inner md-typeset">
                    {% block content %}
                      {% include "partials/content.html" %}
                    {% endblock %}
                  </article>
                </div>
              {% endblock %}
        